body {
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

#index-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}

button {
    font-size: 18px;
    padding: 15px 25px;
    background-color: #cf2118;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    border: none;
    text-transform: uppercase;
 } 

button:hover {
    background-color: darkred;
    box-shadow: 0 0 10px 2px rgb(150, 20, 20);
}

#intro {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.783);
    font-family: 'Inconsolata', monospace;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 10px;
    text-align: center;
    margin: 0px auto;
}

#intro img {
    width: 100px;
}

#intro button {
    margin: 10px 0px;
}

