#index-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#title {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 30px;
}

button {
    font-size: 20px;
    padding: 15px 25px;
}