* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: .001% 99%;
    font-family: 'Inconsolata', monospace;

}


/* right side */
#right {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 5% 95%;
}
#right-top {
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
#nav-bar {
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 30px; */
    background-color: rgb(0, 0, 0);
}
#nav-bar a {
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
#right-bottom {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 20% 80%;
}
#right-bottom-left {
    grid-column-start: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
#right-bottom-left img {
    width: 100%;
}
#right-bottom-right {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 50% 50%;
}
#right-bottom-right-top {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 35% 65%;
}
#location-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: red;
    font-size: 42px;
    line-height: 1.2;
    /* margin-right: 15px; */
    /* margin-top: 20px; */
    border-right: 1px solid red;
    /* padding-right: 40px; */
    /* margin-bottom: 40px; */
}
#location-title p {
    margin-top: 15px;
    margin-left: 8px;
}
#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    line-height: 1.3;
    /* margin-right: 8px;
    margin-top: 20px;
    border-right: 1px solid red;
    padding-right: 40px;
    margin-bottom: 40px; */
    font-size: 18px;
}
#description p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
#description a {
   color: #cf2118; 
   text-transform: uppercase;
   display: block;
   margin-top: 20px;
}
/* #instructions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    line-height: 1.3;
} */
#right-bottom-right-bottom {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url('../assets/img/credits-background-1.jpg');
    background-size: contain;
}
#right-bottom-right-bottom img {
    /* max-width: 100%;
    max-height: 100%; */
}

#game p {
    display: block;
    margin-top: 20px;
}
#game-right {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-right img {
    height: 250px;
}
#game-left {
    grid-column-start: 1;
    margin-left: 30px;
    /* margin-top: 15px; */
    font-size: 28px;
    line-height: 1.2;
}
#guess-input {
    height: 30px;
    width: 180px;
    font-size: 25px;
}
#num-input {
    height: 30px;
    width: 30px;
    font-size: 25px;
}

#croww-word-guess {
    margin-top: 30px;
}
button {
    font-size: 18px;
    padding: 15px 25px;
    background-color: #cf2118;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    border: none;
    text-transform: uppercase;
    margin: 15px auto;
 } 
button:hover {
    background-color: darkred;
    box-shadow: 0 0 10px 2px rgb(150, 20, 20);
}




/* left side */
#left {
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 40% 60%; 
    background-color: rgb(0, 0, 0);
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    color: white;
}
#avatar-image-container {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar-image-container img {
    width: 150px;
}
#status-bar-container {
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 10% 90%;
}
#user-info {
    grid-column-start: 2;
}

#user-info p {
    line-height: 1.7;
}

#user-info li {
    margin-left: 20px;
}

.icon {
    height: 20px;
}

input {
    padding: 10px 15px;
    margin-top: 10px;
}